<nz-list>
  <ng-container *ngFor="let index of (indexes$|async)">

    <nz-list-item style="align-items: baseline">
<div style="flex-grow: 1">

      <div>
        <i *ngIf="index.migrated" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'"
           [nzTwotoneColor]="'#52c41a'"></i>
        <i *ngIf="!index.migrated && index.alreadyMigratedCount>0" nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'"
           [nzTwotoneColor]="'#ded41f'"></i>
        <i *ngIf="!index.migrated && index.alreadyMigratedCount<=0" nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'"
           [nzTwotoneColor]="'#c41a1a'"></i>
        {{index.name}}
        <nz-tag>{{index.size}}</nz-tag>
        <nz-tag *ngIf="index.hasDumpFile">File</nz-tag>
      </div>
      <div *ngIf="index.showProgress || index.error" style="width: 100%">
        <p *ngIf="index.error">{{index.error}}</p>
        <p>{{index.migratedCount|count}}/{{index.documentCount|count}}</p>
        <p>Estimate: {{index.migrationEstimation}}</p>
        <nz-progress [nzPercent]="index.migrationPercent" nzSize="small"></nz-progress>
      </div>
</div>
      <button nz-button nzType="primary" [nzLoading]="index.migrating" (click)="migrate(index)">Migrate</button>
    </nz-list-item>
  </ng-container>
</nz-list>
