.code-block {
  flex-grow: 1;
  margin: 0.5rem;

  pre {
    display: block;
    background-color: #eee;
    border-radius: 5px;
    color: #c41d7f;
    padding: 0.25rem;
  }
}

.debug-content {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
