
    <button nz-button [nzType]="'default'" (click)="showModal()"><i nz-icon nzType="bug" nzTheme="outline"></i></button>
    <nz-modal [(nzVisible)]="isVisible" [nzFooter]="null" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzWidth="80%">
      <ng-container *nzModalContent>
        <div class="debug-content">
        <div class="code-block">
          <h3 nz-typography>Content Metadata</h3>
          <pre>{{post.contentMetadata|json}}</pre>
        </div>
        <div class="code-block">
          <h3 nz-typography>Reddit Post</h3>
          <pre>{{post.redditPost|json}}</pre>
        </div>
          <div class="code-block">
            <h3 nz-typography>Spective Post</h3>
            <pre>{{post.post|json}}</pre>
          </div>
        </div>
      </ng-container>
    </nz-modal>
