<div *ngFor="let post of posts.getPosts()">
  <nz-card [nzCover]="coverImage">
    <ng-template #cardTitle>
      <p>{{post.post.title}}
        <ng-container *ngIf="post.duplicateCounts">
          <nz-tag nzColor="volcano" *ngFor="let d of post.duplicateCounts|keyvalue">{{d.key}} Duplicate {{d.value}}</nz-tag>
        </ng-container>
      </p>
    </ng-template>
    <nz-card-meta [nzTitle]="cardTitle" [nzDescription]="post.post.createdTime|timeago">
    </nz-card-meta>
  </nz-card>
  <ng-template #coverImage>
    <img [src]="post.post.originalUrl" (click)="toggleFullscreen(post)" *ngIf="post.post.type!=='VIDEO'" appInView [post]="post">
    <video *ngIf="post.post.type==='VIDEO'" [src]="post.post.url" controls (play)="startVideoPlay(post)" (pause)="stopVideoPlay()" (webkitfullscreenchange)="toggleFullscreen(post)"></video>
    <app-fullscreen-image *ngIf="fullscreenPost===post" [url]="post.post.url"
                          (close)="fullscreenPost=undefined"></app-fullscreen-image>
  </ng-template>
</div>
