<h2 nz-typography>Following <span *ngIf="followingCount$|async;let followingCount">({{followingCount}})</span></h2>
<nz-list>
  <ng-container *ngIf="following$|async;let following;else loading">
    <nz-list-item *ngFor="let f of following">{{f.author}}
      <ul nz-list-item-actions>
        <nz-list-item-action><button nz-button (click)="unfollow(f.author)">Unfollow</button></nz-list-item-action>
      </ul>
    </nz-list-item>
  </ng-container>
  <ng-template #loading>
    <i nz-icon nzType="loading" style="font-size: xxx-large"></i>
  </ng-template>
</nz-list>
