@import "~src/assets/colors";
:host {
  margin: 20px 0;
  display: block;
}


.content-image {
  width: 500px;
}

a {
  display: block;
}

.viewed {
  visibility: hidden;
}

.author-line {
  a {
    display: unset;
  }
}

.following-icon {
  &.following {
    background-color: $success;
    color:$white;
    &:focus{
      color:$white;
    }
    &:hover, {
      background-color: $danger;
    }
  }

  &:hover,&:hover:focus {
    color:$white;
    background-color: $success;
  }

  &:focus{
    color:rgba(0,0,0,.85);
  }

}

.reddit-page-link {
  display: unset;
  padding-left: 10px;
}
