<div style="display: flex; flex-direction: row">
  <div>
    <ng-container *ngIf="post.post.type!=='VIDEO'">
      <img [src]="post.post.url" (click)="toggleFullscreen()" class="content-image" appInView [post]="post">
    </ng-container>
    <ng-container *ngIf="post.post.type==='VIDEO'">
      <video [src]="post.post.url" class="content-image" controls (play)="startVideoPlay()" (pause)="stopVideoPlay()"
             (webkitfullscreenchange)="toggleFullscreen()"></video>
    </ng-container>
  </div>
  <div style="flex-shrink: 1; padding: 0 10px">
    <h3 nz-typography><i nz-icon nzType="eye" nzTheme="fill" [ngClass]="{'viewed':post.post.viewed}"></i>&nbsp;{{post.post.title}}
    <ng-container *ngIf="post.duplicateCounts">
      <nz-tag nzColor="volcano" *ngFor="let d of post.duplicateCounts|keyvalue">{{d.key}} Duplicate {{d.value}}x</nz-tag>
    </ng-container>
    </h3>
    <app-post-debug [post]="post"></app-post-debug>
    <a (click)="navigateSubreddit()">/r/{{post.post.subreddit}}</a>
    <p class="author-line">
      <a (click)="showAuthorDrawer=true">By: {{post.post.author}} </a>
      <button nz-button nzSize="small" (click)="toggleFollow()" class="following-icon"
              [ngClass]="{following:(isFollowing$|async)}">
        <i nz-icon nzType="heart" [nzTheme]="(isFollowing$|async)?'fill':'outline'"></i>
      </button>
    </p>
    <p>{{post.post.createdTime|timeago}}</p>
  </div>
</div>
<app-fullscreen-image *ngIf="fullscreen && post.post.type!=='VIDEO'" (close)="toggleFullscreen()"
                      [url]="post.post.url"></app-fullscreen-image>
<ng-container *ngIf="showAuthorDrawer">
  <ng-template #drawerTitle>
    <h3 nz-typography>{{post.post.author}}
      <button nz-button (click)="toggleFollow()" class="following-icon"
              [ngClass]="{following:(isFollowing$|async)}">
        <i nz-icon nzType="heart" [nzTheme]="(isFollowing$|async)?'fill':'outline'"></i>
      </button>
      <a [href]="'https://reddit.com/u/'+post.post.author+'/posts'" class="reddit-page-link" target="_blank">Reddit Page <i nz-icon nzType="export"></i></a>
    </h3>
  </ng-template>
  <nz-drawer [nzVisible]="showAuthorDrawer" nzWidth="600px" (nzOnClose)="showAuthorDrawer=false"
             [nzTitle]="drawerTitle">
    <ng-container></ng-container>
    <ng-container *nzDrawerContent>
      <app-author-posts [author]="post.post.author"></app-author-posts>
    </ng-container>
  </nz-drawer>
</ng-container>
