<nz-layout>
  <nz-header style="position: fixed; width: 100%;z-index: 2">
    <div class="logo"><img src="assets/spective-logo.png"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item nzMatchRouter><a routerLink="/search">Search</a></li>
      <li nz-menu-item nzMatchRouter><a routerLink="/manage-following">Manage Following</a></li>
      <li nz-menu-item nzMatchRouter><a routerLink="/admin">Admin</a></li>
    </ul>
  </nz-header>
  <div style="margin-top: 64px">
  <router-outlet></router-outlet>
  </div>
</nz-layout>
