@import "~src/assets/colors";

.logo {
  img{
    height: 25px;
  }
  margin-right: 24px;
  float:left;

}

[nz-menu] {
  line-height: 64px;

}

nz-breadcrumb {
  margin: 16px 0;

}

nz-content {
  padding: 0 50px;

}

nz-footer {
  text-align:center;

}

.inner-content {
  background: $white;
  padding: 24px;
  min-height: 280px;
}

nz-layout {
  min-height: 100%;
}

