<nz-layout>
  <nz-sider nzWidth="200px" nzTheme="light">
    <ul nz-menu nzMode="inline" class="sider-menu">
      <li nz-menu-item nzMatchRouter><a routerLink="index-migration">Index Migration</a></li>
      <li nz-menu-item>option2</li>
      <li nz-menu-item>option3</li>
      <li nz-menu-item>option4</li>
    </ul>
  </nz-sider>
  <nz-layout class="inner-layout">
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
