<nz-layout class="layout">
  <nz-sider nzWidth="200px" nzTheme="light">
    <h3 nz-typography>Search</h3>
    <form nz-form nzLayout="vertical" class="search-form" [formGroup]="searchControl" (ngSubmit)="search()">
      <nz-form-item>
        <nz-form-label>Subreddit</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="Subreddit" formControlName="subreddit" [nzAutocomplete]="subredditAutocomplete">
          <nz-autocomplete [nzDataSource]="(subredditOptions$|async)||[]" #subredditAutocomplete></nz-autocomplete>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Author</nz-form-label>
        <nz-form-control>
          <input placeholder="Author" formControlName="author" nz-input [nzAutocomplete]="authorAutocomplete">
          <nz-autocomplete [nzDataSource]="(authorOptions$|async)||[]" #authorAutocomplete></nz-autocomplete>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Title</nz-form-label>
        <nz-form-control>
          <input placeholder="" formControlName="title" nz-input>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
      <nz-form-label>Filter unsafe results</nz-form-label>
      <nz-form-control>
        <nz-switch formControlName="filterUnsafe"></nz-switch>
      </nz-form-control>
      </nz-form-item>
      <button nz-button nzType="primary" style="width: 100%" (click)="search()" [nzLoading]="postsLoading">Search</button>
    </form>
    <br/>
    <nz-alert *ngIf="error" nzType="error" [nzDescription]="error"></nz-alert>
  </nz-sider>
  <nz-layout class="inner-layout">
    <nz-content>
        <app-post *ngFor="let post of postStore.getPosts()" [post]="post"></app-post>
    </nz-content>
  </nz-layout>
</nz-layout>
