
.inner-layout {
  padding: 0 24px 24px;
  margin-left: 200px;
}

@import "~src/assets/colors";
nz-content {
  background: $white;
  padding: 24px;
  min-height: 100%;
}

nz-sider{
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
  padding:5px;
}

.layout {
  min-height: calc(100vh - 64px);
}
.search-form{
  padding: 0 10px ;
}
